@if (department) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(department.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="departmentDeleteDialogHeading" jhiTranslate="entity.delete.title">Подтвердите операцию удаления</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-department-heading"
        jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationDepartment.delete.question"
        [translateValues]="{ id: department.id }"
      >
        Вы уверены что хотите удалить Department {{ department.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Отмена</span>
      </button>

      <button id="jhi-confirm-delete-department" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Удалить</span>
      </button>
    </div>
  </form>
}
