<div>
  <h2 id="page-heading" data-cy="JobHistoryHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobHistory.home.title">Job Histories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobHistory.home.refreshListLabel">Обновить список</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-job-history"
        [routerLink]="['/jhipstersampleapplication/job-history/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobHistory.home.createLabel"
          >Создать новый Job History</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (jobHistories().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobHistory.home.notFound">Job Histories не найдено</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="startDate">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobHistory.startDate">Start Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="endDate">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobHistory.endDate">End Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="language">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobHistory.language">Language</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="job.id">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobHistory.job">Job</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="department.id">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobHistory.department">Department</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="employee.id">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.jhipsterSampleApplicationJobHistory.employee">Employee</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (jobHistory of jobHistories(); track trackId(jobHistory)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/jhipstersampleapplication/job-history', jobHistory.id, 'view']">{{ jobHistory.id }}</a>
              </td>
              <td>{{ jobHistory.startDate | formatMediumDatetime }}</td>
              <td>{{ jobHistory.endDate | formatMediumDatetime }}</td>
              <td [jhiTranslate]="'jhipsterSampleApplicationApp.Language.' + (jobHistory.language ?? 'null')">
                {{
                  { null: '', FRENCH: 'FRENCH', ENGLISH: 'ENGLISH', SPANISH: 'SPANISH', GERMAN: 'GERMAN', RUSSIAN: 'RUSSIAN' }[
                    jobHistory.language ?? 'null'
                  ]
                }}
              </td>
              <td>
                @if (jobHistory.job) {
                  <div>
                    <a [routerLink]="['/jhipstersampleapplication/job', jobHistory.job.id, 'view']">{{ jobHistory.job.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (jobHistory.department) {
                  <div>
                    <a [routerLink]="['/jhipstersampleapplication/department', jobHistory.department.id, 'view']">{{
                      jobHistory.department.id
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (jobHistory.employee) {
                  <div>
                    <a [routerLink]="['/jhipstersampleapplication/employee', jobHistory.employee.id, 'view']">{{
                      jobHistory.employee.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/jhipstersampleapplication/job-history', jobHistory.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Просмотр</span>
                  </a>

                  <a
                    [routerLink]="['/jhipstersampleapplication/job-history', jobHistory.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Изменить</span>
                  </a>

                  <button type="submit" (click)="delete(jobHistory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Удалить</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
